body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color:white;
}

p {
    text-align: center;
    font-size: 20px;
    color:white;
}
body{
    background-color:#29629b;
}